
# BEGIN redirect http to non-www https
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{HTTPS} off [OR]
  RewriteCond %{HTTP_HOST} ^www\.jeffersoncenterforthearts\.com [NC]
  RewriteRule (.*) https://jeffersoncenterforthearts.com/$1 [L,R=301]
</IfModule>
# END redirect http to https

# BEGIN redirect rules for rescheduled/changed events
  Redirect 301 "/events/music/wind-fields--sep-03-2021" "/events/music/wind-fields--nov-20-2021"
  Redirect 301 "/events/music/wind-fields--nov-13-2021" "/events/music/wind-fields--nov-20-2021"
  Redirect 301 "/events/music/arkins-bigley-coulter-harvey--mar-15-2022"  "/events/music/arkins-bigley-coulter--mar-15-2022"
  Redirect 301 "/events/music/gerry-oconnor-w-richard-mandel--may-05-2022" "/events/music/gerry-oconnor--may-05-2022"
  Redirect 301 "/events/g/mt-shasta-star-knowledge-peace-summit--aug-12-15-2022" "/events/summit/mt-shasta-star-knowledge-peace-summit--aug-12-15-2022"
# END redirect rules for rescheduled events

# BEGIN Redirect rules after site nav re-org
  Redirect 301 "/events/classes" "/classes"
  Redirect 301 "/events/classes-calendar" "/classes/calendar"
  Redirect 301 "/events/venue-info-booking" "/about/venue-info-booking"
  Redirect 301 "/events/sponsors" "/about/sponsors"
  Redirect 301 "/get-involved" "/contact/get-involved"
# END Redirect rules after site nav re-org

# BEGIN Vue SPA
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /404/index.html [L,R=404]
</IfModule>
  ErrorDocument 404 /404/index.html
# END Vue SPA

# BEGIN Security Headers
<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options nosniff
</IfModule>
# END Security Headers

# BEGIN Caching Headers
<IfModule mod_headers.c>
  <FilesMatch "\.(flv|gif|jpg|jpeg|png|svg|ico|woff|woff2|ttf|eot|mp4|webm)$">
    Header set Cache-Control "max-age=2592000"
  </FilesMatch>
  <FilesMatch "\.(js|css|pdf|swf)$">
    Header set Cache-Control "max-age=31536000"
  </FilesMatch>
  <FilesMatch "\.(html|htm|txt|xml|json)$">
    Header set Cache-Control "max-age=1800"
  </FilesMatch>
  <FilesMatch "service-worker.js">
    Header set Cache-Control "max-age=1800"
  </FilesMatch>
</IfModule>
# END Caching Headers

# START GZIP resources
<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/woff2
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
</IfModule>
# END GZIP resources

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php56 .php .php5 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
